<p>
  fproducts works!
</p>
<ul>
      <li *ngFor = "let product of products">ID: {{product.number}}, Name: {{product.name}}, Price: {{product.price}}
      </li>
</ul>
<button class="btn btn-info" [routerLink] = "['']">local DB</button>