ul {
    width: 50%;
    margin-left: 30px;
    margin:5px;
    margin-bottom: 6px;
}
.button{
    float:left;
    
}


.search{
    
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

