
<div class= "search">
<label for="products">Search for a product</label>
<input type="text" name="products" id="products" class="form-control" >
  <button class="btn btn-info" [routerLink] = "['/search-results']">Search</button>
</div>

<h2>
    List of users
  </h2>
  <ul class ="list-group">
      <li class = "list-group-item" *ngFor = "let key of productsKeys of products">
        <button class="button" [routerLink] = "['/edit-product', key]">Update</button>
        <a [routerLink] = "['/user', key]">{{'Product ID ' + key + ' , Name: ' + products[key].name + ' , Price: ' + products[key].price}}</a></li>
        
  </ul>

 