<nav class="nav-bar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink = "/login">login</a></li>
        <!--<li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink = "/users">User</a></li>-->
        <li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink = "/">Products</a></li>
        
        <li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink = "/fproducts">products Firebase</a></li>
        <!--<li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink = "/firebase">user Firebase</a></li>-->
      </ul>
    </div>
  </div>
</nav>