<p>
  firebase works!
</p>
<ul>
      <li *ngFor = "let user of users">Name: {{user.name}}, Phone: {{user.phone}}
      </li>
</ul>
<button class="btn btn-info" [routerLink] = "['']">local DB</button>