<p>
  users works!
</p>
<users-form></users-form>
<h2>
    List of users
  </h2>



 <ul class ="list-group">
     <li class = "list-group-item" *ngFor = "let key of usersKeys of users">

        <button class="btn btn-danger" (click) = "deleteUser(key)">Delete</button>
        <!--<button class="btn btn-info" [routerLink] = "['/user-form', key]">Update</button>-->
        <button class="btn btn-info" (click) = "showUpdate(key)">Update</button> 
        <a [routerLink] = "['/user', key]">{{'user number ' + key + ' , Name: ' + users[key].name + ' , Phone: ' + users[key].phoneNumber}}</a>
      <div *ngIf = "updates[key]">
      <form [formGroup] = "updateform" (ngSubmit) = "updateUser(key)">
        <div>
          <label for="name"></label>
          <input type="text" name = "name" id = "name" formControlName = "name" class = "form-control" >
          <div *ngIf = "updateform.get('name').touched && updateform.get('name').invalid" class="alert alert-danger">
            Name is required
          </div>         
        </div>
        <div>
          <label for="phoneNumber"></label>
          <input type="text" name = "phoneNumber" id = "phoneNumber" formControlName = "phoneNumber" class = "form-control">
          <div *ngIf = "updateform.get('phoneNumber').touched && updateform.get('phoneNumber').invalid" class="alert alert-danger">
              Phone is required
          </div>   
        </div>
        <input type="submit" value = "Update user" class = "btn btn-primary">
      </form>       
     </div>
      </li>
        
  </ul>
