<p>
  edit-product works!
</p>

 <h2>Edit product number {{product?.id}}: </h2>
    <form [formGroup] = "prdform" (ngSubmit) = "sendData()">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" formControlName = "name" value="{{product?.name}}">
            </div>
            
            <div>
            <label for="price">Price</label>
            <input type="text" name="price" id="price" class="form-control" formControlName = "price" value="{{product?.price}}">
            </div>
      <br>
      <input type="submit" value="Update" class="btn btn-primary">
       <button class="btn btn-info" [routerLink] = "['']">Back to list</button>
  
    </form>